// o root serve só de instanciar detro do style css ele ja pega essas variaveis globamente não precisa instanciar


:root{
    --branco: #FFF;
    --primary-color: #262835;
    --secondary-color:#FF5473;
    --cinza: #efefef;
}